.experienceContainer {
   padding: 10px;
}

.experienceContainer h1 {
   padding: 10px;
   font-weight: bold;
}

.workcontainer {
   display: flex;
   flex-direction: column;
   gap: 30px;
}

.functions li {
   font-size: 15px;
   font-weight: 400;
}

.workcontainer li h4 {
   margin: 0;
   font-size: 22px;
   font-weight: bold;
}

.workcontainer li p {
   margin: 0;
   font-size: 13px;
   font-weight: bold;
   opacity: 0.7;
}

/* Existing styles for larger screens remain unchanged */

@media (max-width: 768px) {
   .experienceContainer h1 {
     font-size: 24px; /* Decrease font size for smaller screens */
   }
 
   .workcontainer li h4 {
     font-size: 18px; /* Decrease font size for smaller screens */
   }
 
   .workcontainer li p {
     font-size: 12px; /* Decrease font size for smaller screens */
   }
 
   .functions li {
     font-size: 13px; /* Decrease font size for smaller screens */
   }
 }
 