/* Header */

#navMenu {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: #f4f4f4;
  box-shadow: 0 1.5px 2px -2px gray;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding: 15px;
}

.headerContainer img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 25px;
}

.myInformation {
  width: 450px;
}

.headerContainer div h1 {
    font-weight: bold;
    font-size: 30px;
}

.headerContainer div h1 span {
    font-weight: bold;
    font-size: 20px;
}

.headerContainer div p {
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.resumeButton {
    --main-focus: #2d8cf0;
    --font-color: #323232;
    --bg-color-sub: #dedede;
    --bg-color: #eee;
    --main-color: #323232;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
  }
  
  .resumeButton, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .resumeButton .button__text {
    transform: translateX(26px);
    color: var(--font-color);
    font-weight: 600;
  }
  
  .resumeButton .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .resumeButton .svg {
    width: 20px;
    fill: var(--main-color);
  }
  
  .resumeButton:hover {
    background: var(--bg-color);
  }
  
  .resumeButton:hover .button__text {
    color: transparent;
  }
  
  .resumeButton:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .resumeButton:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
  }

  .custom-dropdown {
    position: relative;
  }
  
  .custom-dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .custom-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .custom-dropdown.show .custom-dropdown-menu {
    display: block;
  }
  

@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .headerContainer img {
    width: 150px;
    height: 150px;
    margin-right: 0; /* Remove the margin on smaller screens */
  }

  .myInformation {
    text-align: center;
    width: 100%; /* Take full width on smaller screens */
    margin-top: 20px; /* Adjust margin for spacing */
  }

  .headerContainer div h1 {
    font-size: 24px; /* Decrease font size for smaller screens */
  }

  .headerContainer div h1 span {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .headerContainer div p {
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .buttonContainer {
    flex-direction: row; /* Stack buttons vertically on smaller screens */
    gap: 10px;
    margin-top: 20px; /* Adjust margin for spacing */
  }

  .resumeButton .button__text {
    transform: none; /* Reset the transform for smaller screens */
  }

  .resumeButton .button__icon {
    transform: none; /* Reset the transform for smaller screens */
    width: 100%; /* Take full width on smaller screens */
  }
}

/* header.css */

.popover {
  position: absolute;
  top: 90%; /* Posiciona el popover justo debajo del botón */
  right: 0;
  z-index: 1000; /* Asegura que el popover esté en la parte superior */
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
}

.popover-content {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popover-content a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 12px;
  display: block;
  padding: 8px;
  transition: background-color 0.3s;
}

.popover-content a:hover {
  background-color: #f2f2f2;
}

